body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.grid-container {
    display: grid;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.grid-item {
}

.uncolored {
    background-color: gray;
}

.colored {
    background-color: black;
}