body {
    background-color: azure;
}

.recipe-box {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: silver;
    margin: 10px;
    width: 150px;
    height: 150px;
    display: inline-block;
}

.recipe-box img, .recipe-box a {
    display: block;
}

img {
    max-height: 100px;
    margin: auto;
    margin-bottom: 15px;
}

.recipe-box a {
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    font-family: sans-serif;
}

.withflex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.withgrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: left;
    gap: 5px;
}